#Todos {
  height: 10.5vh;
  width: 54vw;
  display: flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 2px solid black;
}

#TodoInputAndOutput {
  height: 5.5vh;
  border-radius: 6px;
  border: 0.5px solid black;
  width: 28vw;
}

#EditDeltButnID{
    height: 5.5vh;
    width: 5vw;
    margin-left: 6px;
}
